@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #1ea8e7;
    height: 4.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 40px 0 40px;
}

.navbar-brand {
    color: white !important;
    font-size: 22px;
    font-weight: 600;
}

.bi-check2-square {
    color: white;
    font-size: 28px;
    margin-right: 10px;
}


/*Task.vue*/

.tasks {
    font-family: var(--font-heading);
    font-size: 1.85em;
    line-height: 1.2;
    font-weight: 650;
}

.list-group-item {
    border: none;
    color: #1ea8e7;
    background-color: #f9f9f9;
}

.list-icons {
    margin-right: 7px;
}

.dropdown-toggle {
    background-color: unset !important;
    border: none !important;
    border-color: unset !important;
    color: #1ea8e7 !important;
    box-shadow: none !important;
    padding: 0;
}

.dropdown-toggle:hover {
    background-color: unset;
    border-color: unset !important;
    box-shadow: none !important;
    border: none;
    color: black;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-toggle::after {
    display: none;
}

.card-dropdown-menu {
    transform: translate3d(-90%, 21px, 0px) !important;
}

@media only screen and (max-width: 353px) {
    .addNew {
        font-size: 11px;
    }
    .addNew svg {
        width: 15px;
        height: 15px;
    }
}


/*Tasks.vue*/

.task-card {
    box-shadow: 0 4px 10px rgb(0 0 0 / 3%) !important;
    background: #ffff;
    border-radius: 25px;
    border: initial;
}

.done {
    position: absolute;
    top: 20px;
    left: 20px;
}

.done input {
    width: 20px;
    height: 20px;
}

.task-settings {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    color: #1893cb;
}

.card-text {
    font-weight: 600;
    color: #767676;
}

.tag-project,
.tag-personal,
.tag-urgent,
.tag-list {
    padding: 0.3rem;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
}

.tag-project {
    border: 0.5px solid #1ea8e7;
    color: #1ea8e7;
}

.tag-personal {
    border: 1px solid #ebb71a;
    color: #ebb71a;
}

.tag-urgent {
    border: 1px solid #771a23;
    color: #771a23;
}

.tag-list {
    border: 1px solid #439b38;
    color: #439b38;
}

.completed {
    text-decoration: line-through;
    color: darkgray;
    border-color: darkgray;
}

@media (min-width: 992px) {
    .task-card {
        -ms-flex: 0 0 50%;
        flex: 0 0 48%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .task-card {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 31.333333%;
        max-width: 33.333333%;
    }
}